th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-right: 20%;
}
tr {
    border-top: 3px solid #E81C2B;
}
table {
    border-collapse: collapse;
    border: 4px solid black;
}