.bigbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.homebanner {
    align-self: center;
    flex-grow: 1;
    min-width: 100%;    
    max-height: 450px;
    object-fit: cover;
}

body {
    background-color: #e7e9ea;
    margin: 0;
    font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT", sans-serif;
}
.bannerdiv {
    display: flex;
    margin:0;
}
#username {
    color:black;
}
#password {
    color:white;
    caret-color: black;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    border: inset #E81C2B;
    padding: 20px;
}
.regbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bracketcontainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 3px inset #E81C2B;
    min-width: 300px;
    min-height: 300px;
}
.largeheader{
    text-align: center;
    margin-top: 0px;
    font-size: 200%;
}

.tourneyitem2 {
    border: 3px inset black;
    min-width: 200px;

    min-height: 80px;
    text-align: center;
    
}
.tourneypair {
    /* brings in a pair of vertically stacked tourney items*/
    display: flex;
    flex-direction: column;

}
.tourneystep {
    /* steps forward a pair into a new stage of tourney*/
    display: flex;
    flex-direction: row;
}
.start {
    max-width: 200px;
}
.winner {
    /* winner text should link to the matches played*/
    width: 100%;
    padding-top:9%
}
.schedule {
    display: flex;
    justify-content: left;
}
@media (min-height:0px){
    .viewcontainer{
        display: flex;
        justify-content: center;
        height: 400px;
    }
}
@media (min-height:600px){
    .viewcontainer{
        display: flex;
        justify-content: center;
        height: 600px;
    }
}
@media (min-height:1200px){
    .viewcontainer{
        display: flex;
        justify-content: center;
        height: 1000px;
    }
}
.viewitem {
    border: 2px solid #E81C2B;
}

@media(max-width: 900px){
    #chat{
        visibility:hidden;
        flex-basis:0%
    }
    #vid {
        flex-basis:70%;
        width: 100%;
    }
}
@media (min-width: 901px){
    #chat {
        flex-basis: 20%;
    }
    #vid {
        flex-basis: 50%;
    }
}
.searchtools{
    display: flex;
    justify-content: center;
}
#spacer {
    flex-basis: 20%;
}
.stattable{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.hometext{
    flex-grow:1;
}
td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 200px){
    #logo{
        width:20px;
        position:absolute;
        left: 10px;
    }
}
@media (min-width: 650px){
    #logo{
        width:30px;
        position:absolute;
        left: 5px;
    }
}
@media (min-width: 900px){
    #logo{
        width:40px;
        position:absolute;
        left: 5px;
    }
}
.treewrapper {
    display: flex;
    justify-content: center;
}
.spacer {
    flex-grow: 2;
}